@import url("https://r-and-b-ui.netlify.app/component.css");

.layout-container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
  grid-template-columns: 0.6fr 2.4fr;
  max-width: 1380px;
  margin: auto;
}
.videos-search {
  width: 30rem;
  height: 2rem;
  align-self: center;
  grid-area: nav1;
}
.navbar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  margin-left: 1rem;
  background-color: transparent;
  color: var(--white);
  font-size: 1.4rem;
}
.profile-btn {
  margin-left: 1rem;
  border: none;
  background-color: transparent;
}

.profile-section {
  margin: 8px 1rem 0px 1rem;
}
.profile-options {
  display: none;
}
.profile-btn:focus div {
  display: block;
  position: absolute;
  top: 3rem;
}
.profile-options > ul {
  list-style-type: none;
  text-align: left;
  /* padding: 8px; */
  padding: 0px;
  margin: 0px;
  background-color: var(--white);
}
.profile-options > ul > li {
  background-color: var(--white);
  padding: 8px;
  cursor: pointer;
}

.profile-options > ul > li:hover {
  background-color: var(--red);
  color: var(--white);
  padding: 8px;
}
.sidebar {
  grid-area: sidebar;
}
.sidebar-container {
  list-style: none;
  padding-left: 0px;
}

.sidebar-items {
  margin-bottom: 2rem;
  font-size: x-large;
}
.sidebar-icons {
  color: var(--white);
}
